<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399714560427-uq5i9diau7m42j9oo7f2et56gu7gvo7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399714560427-uq5i9diau7m42j9oo7f2et56gu7gvo7j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399714560427-vvr30d78aht46c2bqm3q3n83i8me6bd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGLIl5IaiE6AMTjsjhvbptzJftbMYrYgk</string>
	<key>GCM_SENDER_ID</key>
	<string>399714560427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interhub.examples</string>
	<key>PROJECT_ID</key>
	<string>interhub-299eb</string>
	<key>STORAGE_BUCKET</key>
	<string>interhub-299eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399714560427:ios:ecbf8bfafef35c25924aee</string>
</dict>
</plist>